-
    const js_road = {
        cls: 'js-road',
        h1: 'Путь JavaScript',
        img: 'books-1.webp',
        p: 'Можно выделить три основных направления для прогресса JavaScript '
    }
include ../mixin/section_img
+section_img(js_road)