.popup
    ._div
        h2 Начать учиться
        p Оставьте заявку и наш менеджер вам перезвонит.
        form
            input(type='text' placeholder='Как вас зовут')
            input(type='email' placeholder='Ваш email')
            button.blue Отправить
        p._privacy-policy Нажимая кнопку «Отправить», вы соглашаетесь с
            a(href='#') политикой конфиденциальности
        ._close &times;